<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragmente/head") %>
        <title>Confirmare</title>
</head>

<body>
    <header>
        <%- include("../fragmente/header") %>
    </header>
    <main>

        <h1>Confirmare mail</h1>
        <p>Totul a functionat!</p>
    </main>

    <%- include("../fragmente/footer") %>

</body>

</html>