<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include('../fragmente/head.ejs') %>
        <meta name="keywords"
            content="BMW, Automobile, Performanta, Inovatie, Eleganta, Audi, Masini de lux, Tehnologie avansata, Confort, Porsche, Sportivitate, Design iconic, Performanta de varf, Exclusivitate, Lamborghini, Supercaruri, Viteza extrema, Design agresiv, Bucuresti, Romania, Sector 1 2 3 4 5 6, Reprezentanta">
        <meta name="description"
            content="Vanzari/inchirieri auto (Audi, Mercedes, BMW). Consultanta. Schimb cu masina veche. Livram si la domiciliu in Bucuresti.">
        <meta name="author" content="Alex Chera">
        <title>Racebox</title>
</head>

<body>

    <%- include('../fragmente/header.ejs') %>

    <main>
        <h2>Despre Racebox</h2>
        <p>Racebox este un concept de magazin specializat în produse și servicii pentru modelele sport și premium din București. Iată câteva detalii interesante despre Racebox:</p>
        <ol>
            <li>
                <strong>Conceptul P Zero World:</strong>
                <ul>
                    <li>Racebox a inaugurat împreună cu Pirelli magazinul Concept P Zero World în București, situat pe Calea Ion Zavoi nr. 8.</li>
                    <li>Acest magazin este un simbol al strategiei de retail Pirelli și poziției lor de lider pe piață.</li>
                    <li>În cadrul Conceptului P Zero World, clienții pot găsi cele mai exclusiviste produse și servicii, inclusiv întreaga gamă de pneuri Pirelli, inclusiv cele mai performante modele, cum ar fi P Zero Trofeo R.</li>
                    <li>Serviciile exclusive includ preluarea mașinii la sosirea în fața magazinului și oferirea unei mașini de înlocuire, dacă este necesar.</li>
                    <li>Magazinul permite clienților să descopere întregul univers Pirelli, inclusiv celebrul calendar și activitățile din Formula 1.</li>
                </ul>
            </li>
            <li>
                <strong>Pasiunea pentru mașinile sportive în București:</strong>
                <ul>
                    <li>Bucureștiul este o piață în creștere pentru mașinile sportive, iar Racebox răspunde cererii crescute.</li>
                    <li>În magazin, sunt expuse mașini precum Aston Martin, Lamborghini, Ferrari, McLaren, Rolls Royce, Porsche și Mercedes AMG.</li>
                    <li>Pirelli dezvoltă pneuri speciale pentru fiecare model de supercar, garantând proprietarilor performanță maximă și manevrabilitate.</li>
                </ul>
            </li>
            <li>
                <strong>Garantie pe motor 2 ani:</strong>
                <p>Racebox oferă servicii de tuning și îmbunătățire a performanței mașinilor, cu garanție pe motor de 2 ani.</p>
            </li>
        </ol>
    </main>
    

        <%- include('../fragmente/footer.ejs') %>

</body>

</html>