<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../fragmente/head.ejs') %> 
    <!-- serverul executa codul din < %-, browserul vede direct nav ul -->
    <!-- < %- cod html, < % = , < % ruleaza -->

    <meta name="keywords"
        content="BMW, Automobile, Performanta, Inovatie, Eleganta, Audi, Masini de lux, Tehnologie avansata, Confort, Porsche, Sportivitate, Design iconic, Performanta de varf, Exclusivitate, Lamborghini, Supercaruri, Viteza extrema, Design agresiv, Bucuresti, Romania, Sector 1 2 3 4 5 6, Reprezentanta">
    <meta name="description"
        content="Vanzari/inchirieri auto (Audi, Mercedes, BMW). Consultanta. Schimb cu masina veche. Livram si la domiciliu in Bucuresti.">
    <meta name="author" content="Alex Chera">
    <title>Racebox</title>
</head>

<body>
    
    <%- include('../fragmente/header.ejs') %> 

    <main>
        <div id="layout-responsive">
            <section id="section-1">
                <h1>TEST</h1>
                <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                    <mrow>
                        <mo style="color: blue;">&#x222B;</mo>
                        <msup>
                            <mi style="font-style: italic;">e</mi>
                            <mrow>
                                <mi>x</mi>
                            </mrow>
                        </msup>
                        <mi style="font-weight: bold;">dx</mi>
                    </mrow>
                </math>
            </section>
            <section id="section-5">
                <h2>text</h2>
            </section>
            <section id="section-6">
                <!-- <div id="efect-css-duotone">
                </div> -->
            </section>
            <section id="section-7">
                <h2><strong>Ce ne deosebește?</strong></h2>
                <p> <b>Produse Premium</b> <br> Colaborăm doar cu cele mai renumite mărci din industria auto pentru a vă
                    asigura că fiecare produs pe care îl găsiți la Racebox este de cea mai înaltă calitate.</p>
                <p> <b>Diversitatea Gamei</b> <br> De la piese de schimb și accesorii până la echipamente de performanță
                    și
                    <i>gadgeturi</i> auto, avem totul
                    acoperit. Indiferent de marca sau modelul mașinii dvs., veți găsi cu siguranță ceea ce căutați.
                </p>
                <hr id="efect-css-stilizare-hr">
                <p><b>Experiență Ușoară de Cumpărături</b> <br> Interfața noastră simplă și intuitivă vă permite să
                    explorați
                    și să găsiți produsele dorite cu ușurință. Fiți siguri că veți găsi tot ce aveți nevoie pentru a vă
                    satisface pasiunea pentru automobile.</p>
                <p><b>Serviciul Clietului de Încredere</b> <br> Echipa noastră dedicată de asistență clienți este
                    întotdeauna
                    aici pentru a vă oferi ajutorul și suportul necesar. De la recomandări de produse până la asistență
                    post-vânzare, suntem aici pentru dumneavoastră.</p>
                <a id="hoverEffect" href="./resurse/imagini/name.jpg" download="oferta.jpg">Descarcă oferta noastră</a>
            </section>
            <section id="section-3">
                <h2>Întrebări frecvente</h2>
                <div id="section-3-details">
                    <details>
                        <summary>Ce tipuri de produse oferiți?</summary>
                        <p>Oferim o gamă largă de produse auto, inclusiv piese de schimb, accesorii, echipamente de
                            performanță și multe altele. Indiferent de nevoile tale auto, avem ceva pentru tine!</p>
                    </details>

                    <details>
                        <summary>Care sunt metodele de plată acceptate?</summary>
                        <p>Acceptăm plăți prin card de credit/debit, PayPal și alte metode de plată populare, pentru a
                            face cumpărăturile tale cât mai convenabile posibil.</p>
                    </details>

                    <details>
                        <summary>Cât durează să primești produsele comandate?</summary>
                        <p>Timpul de livrare variază în funcție de locația ta și de metoda de expediere selectată. De
                            obicei, încercăm să livrăm comenzile cât mai rapid posibil, iar detalii suplimentare despre
                            timpul de livrare sunt furnizate în momentul plasării comenzii.</p>
                    </details>

                    <details>
                        <summary>Ce fac dacă am probleme cu un produs comandat?</summary>
                        <p>Suntem aici pentru a te ajuta! Dacă întâmpini orice problemă cu un produs achiziționat de la
                            noi, te rugăm să ne contactezi cât mai curând posibil, iar echipa noastră de asistență
                            clienți va fi bucuroasă să te ajute să rezolvi problema.</p>
                    </details>

                    <details>
                        <summary>Ofereți garanție pentru produsele voastre?</summary>
                        <p>Da, majoritatea produselor noastre beneficiază de garanție. Detalii suplimentare despre
                            garanție sunt specificate pe paginile produselor respective sau pot fi obținute prin
                            contactarea echipei noastre de asistență clienți.</p>
                    </details>

                    <details>
                        <summary>Pot returna un produs dacă nu sunt mulțumit de el?</summary>
                        <p>Da, acceptăm returnările produselor în anumite condiții. Te rugăm să consulți politica
                            noastră de returnare pentru detalii specifice și să ne contactezi pentru asistență
                            suplimentară în acest sens.</p>
                    </details>
            </section>
            <section id="section-4">
                <h2>Ultimele clipuri</h2>
                <p>Urmărește-ne pe YouTube pentru a fi conectat cu ultimele noastre oferte!</p>
                <div id="container-iframe">
                    <div id="stilizare-taburi">
                        <a href="https://www.youtube.com/embed/Axpw1k-k8os?si=oUOfGZDWcx1iMCPw" target="ifr-video">Video
                            1 </a>
                        <a href="https://www.youtube.com/embed/g7zZCBz1TR0?si=pov2PaB0nmbAUSeu" target="ifr-video">Video
                            2</a>
                        <a href="https://www.youtube.com/embed/WJhWH-SeSCQ?si=FGqX1q0-46we9QJK" target="ifr-video">Video
                            3</a>
                    </div>
                    <iframe name="ifr-video" width="560" height="315"
                        src="https://www.youtube.com/embed/WJhWH-SeSCQ?si=FGqX1q0-46we9QJK" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </section>
            <section id="section-2">
                <h2>Program de lucru <i class="fa-solid fa-clock fa-fade"></i></h2>
                <div id="tabel-container">
                    <table id="stilizare-tabel">
                        <thead>
                            <tr>
                                <th>Tip</th>
                                <th>Zi</th>
                                <th>Dimineața</th>
                                <th>Pauză de masă</th>
                                <th>Seara</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="5">Zile Lucrătoare</td>
                                <td>Luni</td>
                                <td>09:00 - 12:00</td>
                                <td>12:00 - 14:00</td>
                                <td>14:00 - 21:00</td>
                            </tr>
                            <tr>
                                <td>Marti</td>
                                <td>09:00 - 12:00</td>
                                <td>12:00 - 14:00</td>
                                <td>14:00 - 21:00</td>
                            </tr>
                            <tr>
                                <td>Miercuri</td>
                                <td>09:00 - 11:00</td>
                                <td>11:00 - 14:00</td>
                                <td>14:00 - 21:00</td>
                            </tr>
                            <tr>
                                <td>Joi</td>
                                <td>09:00 - 11:00</td>
                                <td>11:00 - 14:00</td>
                                <td>14:00 - 21:00</td>
                            </tr>
                            <tr>
                                <td>Vineri</td>
                                <td>09:00 - 12:00</td>
                                <td>12:00 - 14:00</td>
                                <td>14:00 - 19:00</td>
                            </tr>
                            <tr>
                                <td rowspan="2">Weekend</td>
                                <td>Sâmbătă</td>
                                <td>10:00 - 12:00</td>
                                <td>12:00 - 14:00</td>
                                <td>14:00 - 16:00</td>
                            </tr>
                            <tr>
                                <td>Duminică</td>
                                <td>10:00 - 14:00</td>
                                <td>-</td>
                                <td>Închis</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">Închis cu ocazia sărbătorilor legale.</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
            <section id="section-8">
                <div class="section-8-left">
                    <h2 id="section-text">DESTINAȚIA ONLINE PREMIUM PENTRU PASIONAȚII AUTO</h2>
                    <p><q>Drumul către aventură începe cu o mașină de încredere</q>, așa că aici găsiți serviciile
                        noastre:</p>
                    <ul>
                        <li>Cumpară <i class="fas fa-check"></i></li>
                        <li>Închiriază <i class="fas fa-check"></i></li>
                        <li>Vinde <i class="fas fa-check"></i></li>
                    </ul>
                </div>
                <div class="section-8-right">
                    <figure>
                        <picture>
                            <source srcset="./resurse/imagini/1.jpg" media="(max-width:700px)" />
                            <source srcset="./resurse/imagini/2.jpg" media="(max-width:1200px)" />
                            <img src="./resurse/imagini/4.jpg" alt="text" title="Dulciuri" />
                        </picture>
                        <figcaption>Racebox Online</figcaption>
                    </figure>
                </div>
            </section>
        </div>
    </main>

    <a href="#" id="link-top" title="Mergi sus">
        <div id="triunghi">
            <p>&#5123;</p>
        </div>
    </a>
    <script src="/functions.js"></script>
    <%- include('../fragmente/footer.ejs') %> 

</body>

</html>