/*.navbar ul{
    list-style-type:none;
    background-color: #245255;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding:25px;
    display:block;
    text-align: center;
}

.navbar a:hover{
    background-color: #0D3033;
}

.navbar li{
    float: left;
} */

%prop_nav_ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: #245255;

}

%navbar_li_a_div {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 50px;
  color: white;
  box-sizing: border-box;
  transition: all 0.5s linear;
  text-decoration: none;
}


@keyframes animatie_submeniu {
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

#hamburger {
  display: none;
}

#toggle-nav {
  display: none;
}


@media screen and (max-width: 700px) {
  #acasa-text {
    display: none;
  }

  #hamburger {
    display: block;
    cursor: pointer;
    font-size: 30px;
  }

  .navbar {
    flex-wrap: nowrap;
    justify-content: left;
    display: none;
    position: absolute;
    width: 100%;
    background-color: #333;
    left: 0;
    top: 14%;

    li {
      width: 100%;

    }

    a {
      padding: 10px;
      border-bottom: 1px solid #fff;
    }

    ul {
      display: block;
      position: static;
      width: 100%;
      background-color: #333;
      border-top: 1px solid #fff;

      li {
        width: 100%;
        display: block;
      }
    }
  }

  #toggle-nav:checked+label+nav .navbar {
    display: block;
  }
}

.navbar {
  display: flex;
  @extend %prop_nav_ul;

  ul {
    @extend %prop_nav_ul;
    display: none;
    opacity: 0;
    transform: scaleY(0);
  }

  li {
    &:hover>a {
      background-color: #0D3033;
      color: white;
    }

    &:hover>div {
      background-color: #0D3033;
      color: white;

    }
    :hover>ul {
      display: block;
      position: absolute;
      z-index: 100;
      animation: animatie_submeniu 0.5s linear 1 forwards;
      transform-origin: center top;

    }

    width: 250px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;

    a {
      @extend %navbar_li_a_div;
    }

    div {
      @extend %navbar_li_a_div;
    }

  }
}