<footer class="footer" id="footer-id">
    <div class="footer-left">
        <p class="footer-text"><a class="underline-hover-effect" href="/">RACEBOX BUCHAREST</a></p>
        <p class="footer-text-under">Partener oficial <a style="color: #fed100;"
                href="https://www.pirelli.com/global/en-ww/homepage/" target="_blank"><b>Pirelli</b></a> din 2023.
        </p>
        <small class="copy-small">&copy;2024 | All rights reserved by <i> Alex Chera</i></small>
        <small class="copy-small"><time datetime="2024-03-08 08:00">8 Martie 2024</time></small>
        <p class="footer-text-under banner">Acesta este un proiect școlar!</p>
    </div>

    <div class="footer-middle">
        <h3 class="footer-text-under">Informații utile:</h3>
        <address>
            <a> 0720 100 800</a>
            <a href="https://maps.app.goo.gl/FCH2YsMcpNiBz15f9" target="_blank">Strada Academiei 14, București
                010014</a>
            <a href="https://mail.google.com/mail/u/0/" target="_blank">racebox@gmail.com</a>
            <a href="https://wa.me/0720100800" target="_blank"><u>Deschide Whatsapp</u></a>
        </address>
    </div>

    <div class="footer-right">
        <div class="footer-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/produse">Cumpără</a></li>
                <li><a href="/">Închiriază</a></li>
                <li> <a href="/">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="disclaimer-banner">
        <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
    </div>
</footer>