<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description"
        content="Avem haine de toate tipurile, de la branduri des intalnite precum nike, adidas pana la branduri de lux precum LV, Armani, Maison Margiela, livram in toata tara.">
    <meta name="keywords"
        content="adidasi, haine, fashion,designer, trending, livrare, magazin, FashionFactory, Nike, Supreme, Armani, Evisu, Off-White, Bucuresti ">
    <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
    <title>Fashion Factory</title>
    <%- include("../fragmente/head") %>
        <script type="text/javascript" src=/resurse/js/produse.js></script>

</head>

<body>
    <%- include("../fragmente/header") %>

        <main>
            <section id="termeni-si-conditii">
                <h1>Termeni și Condiții</h1>
                <p>Bine ați venit la Fashion Factory! Vă rugăm să citiți cu atenție acești termeni și condiții înainte
                    de a utiliza site-ul nostru. Accesând sau utilizând site-ul nostru, sunteți de acord cu acești
                    termeni și condiții.</p>

                <h2>1. Generalități</h2>
                <p>Acest site este operat de Fashion Factory. De-a lungul site-ului, termenii "noi" și "nostru" se
                    referă la Fashion Factory. Oferim acest site, inclusiv toate informațiile, uneltele și serviciile
                    disponibile de pe acest site utilizatorului, condiționate de acceptarea tuturor termenilor,
                    condițiilor, politicilor și notificărilor menționate aici.</p>

                <h2>2. Utilizarea Site-ului</h2>
                <p>Prin accesarea și utilizarea acestui site, confirmați că aveți cel puțin vârsta majoratului în
                    jurisdicția dumneavoastră de reședință sau că aveți consimțământul legal al părinților sau tutorelui
                    legal pentru a utiliza acest site.</p>

                <h2>3. Produse și Servicii</h2>
                <p>Ne rezervăm dreptul de a limita cantitățile de produse sau servicii pe care le oferim. Toate
                    descrierile produselor și prețurile acestora pot fi modificate în orice moment, fără notificare
                    prealabilă, la discreția noastră.</p>

                <h2>4. Comenzi și Plăți</h2>
                <p>Prin plasarea unei comenzi pe site-ul nostru, sunteți de acord să furnizați informații complete și
                    corecte pentru toate tranzacțiile efectuate. Ne rezervăm dreptul de a refuza orice comandă pe care o
                    plasați la noi.</p>

                <h2>5. Livrare</h2>
                <p>Oferim livrare în toată țara. Costurile și termenele de livrare pot varia în funcție de locația de
                    livrare și de volumul comenzii. Ne străduim să expediem toate comenzile în cel mai scurt timp
                    posibil.</p>

                <h2>6. Politica de Returnare</h2>
                <p>Dacă nu sunteți mulțumit de achiziția dumneavoastră, puteți returna produsele conform politicii
                    noastre de returnare. Vă rugăm să consultați pagina noastră de returnări pentru mai multe
                    informații.</p>

                <h2>7. Confidențialitatea Datelor</h2>
                <p>Confidențialitatea datelor dumneavoastră este importantă pentru noi. Vă rugăm să consultați politica
                    noastră de confidențialitate pentru a înțelege cum colectăm, utilizăm și protejăm informațiile
                    dumneavoastră personale.</p>

                <h2>8. Modificări ale Termenilor și Condițiilor</h2>
                <p>Ne rezervăm dreptul de a actualiza, modifica sau înlocui orice parte a acestor termeni și condiții
                    prin postarea de actualizări și/sau modificări pe site-ul nostru. Este responsabilitatea
                    dumneavoastră să verificați periodic această pagină pentru a vedea eventualele modificări.</p>

                <h2>9. Contact</h2>
                <p>Pentru întrebări suplimentare referitoare la acești termeni și condiții, vă rugăm să ne contactați la
                    adresa de email: suport@fashionfactory.ro.</p>
            </section>
        </main>

        <%- include("../fragmente/footer") %>
</body>

</html>