#galerie-statica{
  padding-left:var(--padding-intern);
  padding-right:var(--padding-intern);
}

#grid-galerie {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  counter-reset: nrimag 3;
}

#grid-galerie img {
  transition: transform 1.25s ease-in-out;
}

#grid-galerie img:hover {
  transform: translateY(-15%) scale(1.3);
}

#grid-galerie figcaption {
  transition: background-color 1.25s ease-in-out, color 1.25s ease-in-out;
}

#grid-galerie > :nth-child(6) {
  grid-column: 4;
}

#grid-galerie img{
  width: 100%;
}
#grid-galerie figcaption{
  text-align:center;
  counter-increment: nrimag 1; /* nrimag+=1 */
}

#grid-galerie figcaption::before{
  content: counter(nrimag, lower-alpha) ")"; /* sau lower-alpha */ /*lower-roman sau lower-number*/
}

#grid-galerie figure:hover figcaption {
  background-color: #43655a;
  color: #fff;
}

#grid-galerie img:hover + figcaption.caption-style {
  background-color: #43655a;
  color: #fff;
}