/*
#grid-pagina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "welcome welcome welcome"
        "promotii promotii marimi"
        "fig1 haine haine"
        "fig2 haine haine"
        "fig3 haine haine"
        "anunturi anunturi anunturi"
        "index-intrebari index-intrebari index-intrebari";

}


#grid-pagina>* {
    outline: 2px solid skyblue;
    padding: 0.5em;
}

#welcome {
    grid-area: welcome;
}

#promotii {
    grid-area: promotii;
}

#anunturi {
    grid-area: anunturi;
}

#marimi {
    grid-area: marimi;
}

#fig1 {
    grid-area: fig1;
}

#fig2 {
    grid-area: fig2;
}

#fig3 {
    grid-area: fig3;
}

#haine {
    grid-area: haine;
}

#index-intrebari {
    grid-area: index-intrebari;
}

@media screen and (max-width:1200px) {
    #grid-pagina {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-areas: "welcome welcome welcome"
            "promotii promotii marimi"
            "fig1 haine haine"
            "fig2 haine haine"
            "fig3 haine haine"
            "anunturi anunturi anunturi"
            "index-intrebari index-intrebari index-intrebari";

    }
}
*/

#grid-pagina {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "welcome welcome welcome welcome"
    "promotii promotii haine haine"
  "marimi imagine haine haine"
  "intrebari imagine haine haine"
  "intrebari videoclipuri videoclipuri anunturi"
  "galerie-statica galerie-statica galerie-statica galerie-statica"

}


#grid-pagina>* {
    outline: 2px solid skyblue;
    padding: 0.5em;
}

#welcome {
    grid-area: welcome;
}

#promotii {
    grid-area: promotii;
}

#marimi {
    grid-area: marimi;
}
#videoclipuri{
    grid-area: videoclipuri;
}
#intrebari {
    grid-area: intrebari;
}
#imagine{
    grid-area:imagine;
}
#anunturi {
    grid-area: anunturi;
}
#haine {
    grid-area: haine;
}
#galerie-statica{
    grid-area:galerie-statica;
}


@media (max-width: 1024px) {
    #grid-pagina {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "welcome welcome"
            "promotii promotii"
            "marimi marimi"
            "imagine imagine"
            "haine haine"
            "intrebari intrebari"
            "videoclipuri videoclipuri"
            "anunturi anunturi"
            "galerie-statica galerie-statica";
    }
}

@media (max-width: 700px) {
    #grid-pagina {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "welcome"
            "promotii"
            "marimi"
            "imagine"
            "haine"
            "intrebari"
            "videoclipuri"
            "anunturi"
            "galerie-statica";
    }
}
 
