<footer>
    <b>
        <h3><q><i>I don't sleep as much as normal people do.</i></q></h3>
        <h4>
            -Virgil Abloh
        </h4>

    </b>

    <a href="./index#" target="_blank">Fashion Factory</a><br />
    <!--daca la href pun doar # aceasta face referinta la inceputul paginii -->
    <!-- <a href="./resurse/imagine/poza_download.jpg" download> Poza Adidasi</a> download o poza-->
    <address>
        <a href="mailto:sneaker_factory666@gmail.com">Mail Fashion Factory</a>
        <br />
        <a href="tel:+4075333125"> Telefon </a>
        <br />
        <a href="https://maps.app.goo.gl/gbQdKv41i5tFAZrB6" target="_blank">Locatia</a>
        <br />
        <a href="https://wa.me/+40757469965" target="_blank"> WhatsApp</a>
        <br />
        <a href="#" class="top" title="Back to top">&#9650;</a>
        <br />

        Strada Ion Câmpineanu nr.20, București 010033, Sector 6, Romania
    </address>
    <p><small>Copyright &copy;
            <br />
            <time datetime="11-03-2024"> 11 Martie 2024 </time>
        </small></p>
    <p class="project-banner">Acesta este un proiect școlar!</p>
    <section id="banner" class="hidden">
        <p>Acesta este un proiect școlar!</p>
        <p>Acceptați cookie-uri?</p>
        <button id="acceptCookies">OK</button>
    </section>

</footer>