<script src="/resurse/js/tema.js"></script>  <!-- punem aici ca sa fie in body pentru ca header este inclus in body -->
<header>
    <h1> Fashion Factory</h1>
    <select id="schimba_tema">
        <option value="default">Default</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
    </select>

    <input type="checkbox" id="toggle-nav">
    <label for="toggle-nav" id="hamburger">
        <i class="fas fa-bars"></i>
    </label>
    <nav>
        <ul class="navbar">
            <li><a id="acasa" a href="/index"><i class="fa-solid fa-house"></i>
                    <p id="acasa-text">Acasa</p>
                </a>
            <li><a href="#">Bărbați</a>
                <ul>
                    <li><a href="/index#">Camasi</a></li>
                    <li><a href="/index#">Pantaloni</a></li>
                    <li><a href="/index#">Tricouri</a></li>
                    <li><a href="/index#">Hanorace</a></li>
                    <li><a href="/index#">Jachete</a></li>
                    <li><a href="/index#">Incaltaminte</a></li>
                    <li><a href="/index#">Accesorii</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Femei</a>
                <ul>
                    <li><a href="/index#">Rochii</a></li>
                    <li><a href="/index#">Fuste</a></li>
                    <li><a href="/index#">Topuri</a></li>
                    <li><a href="/index#">Pantaloni</a></li>
                    <li><a href="/index#">Cardigane|Pulovere</a></li>
                    <li><a href="/index#">Incaltaminte</a></li>
                    <li><a href="/index#">Costume de baie</a></li>
                    <li><a href="/index#">Beauty</a></li>
                    <li><a href="/index#">Accesorii</a></li>
                </ul>
            </li>

            <li>
                <a href="/terms">Terms</a>

            </li>

            <li>
                <a href="/prajituri"> Prajituri</a>
                <ul>
                    <li><a href="/prajituri?tip=cofetarie"> Prajituri</a></li>
                    <li><a href="/prajituri?tip=gelaterie"> Gelaterie</a></li>
                    <li><a href="/prajituri?tip=patiserie"> Patiserie</a></li>
                </ul>
            </li>

            <li>
                <a href="/produse"> Produse</a>
                <ul>
                    <li><a href="/produse"> toate</a></li>
                    <li><a href="/produse?tip=incaltaminte"> incaltaminte</a></li>
                    <li><a href="/produse?tip=imbracaminte"> imbracaminte</a></li>
                    <li><a href="/produse?tip=accesorii"> accesorii</a></li>
                </ul>
            </li>

            <li>
                <a href="/galerie"> Galerie</a>
            </li>
        </ul>
    </nav>
</header>