@import "../css/variables.css";
#navbar {
  background-color: var(--dark);
  font-family: var(--regularFont);
  height: var(--navHeight);
}
#navbar #hamburger-container {
  display: flex;
}
#navbar #hamburger-container .hamburger {
  display: none;
  padding: 1em;
  z-index: 200;
}
#navbar #hamburger-container .hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 4px 0;
}
#navbar nav {
  display: flex;
}
#navbar nav li:hover a {
  transform: scale(1.2);
}
#navbar nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  text-align: center;
}
#navbar nav ul li {
  list-style: none;
  position: relative;
}
#navbar nav ul li:hover > ul {
  display: block;
  width: 100%;
  align-items: center;
}
#navbar nav ul li ul {
  display: none;
  animation: nav-ul-animation 1s linear 1 forwards;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dark);
  z-index: 100;
}
@keyframes nav-ul-animation {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
#navbar nav ul li ul li::before {
  content: "";
  position: absolute;
  top: 0;
  height: 0;
  width: 15px;
  background: linear-gradient(to right, var(--white) 0%, var(--dark) 100%);
  transition: height 1s ease;
  left: 0;
}
#navbar nav ul li ul li::after {
  content: "";
  position: absolute;
  top: 0;
  height: 0;
  width: 15px;
  background: linear-gradient(to left, var(--white) 0%, var(--dark) 100%);
  transition: height 1s ease;
  right: 0;
}
#navbar nav ul li ul li:hover::before,
#navbar nav ul li ul li:hover::after {
  height: 100%;
}
#navbar nav ul li a {
  transition: 1s ease-in-out;
  display: block;
  text-decoration: none;
  color: var(--white);
  box-sizing: border-box;
  line-height: var(--navHeight);
  padding: 0 1rem;
  width: auto;
}
#navbar nav ul li a #acasa-icon {
  display: flex;
  align-items: center;
}
