#navbar {
    height: inherit;

    #hamburger-container {
        .hamburger {
            display: block;

            &.active .bar:nth-child(1) {
                transform: translateY(9px) rotate(45deg);
                background-color: var(--visitedLinks);
            }

            &.active .bar:nth-child(2) {
                opacity: 0;
            }

            &.active .bar:nth-child(3) {
                transform: translateY(-5.5px) rotate(-45deg);
                background-color: var(--visitedLinks);
            }

            .bar {
                display: block;
            }
        }
    }

    .open {
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 35vh;
    }

    nav {
        display: none;
        align-items: center;
        justify-content: center;

        ul {
            flex-direction: column;

            li {
                align-items: center;

                ul {
                    position: static;
                }

                a {
                    #acasa-text {
                        display: none;
                    }
                }
            }
        }
    }
}

main {
    padding: 0 .8em;

    #layout-responsive {
        grid-gap: .5em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "section-1 section-1"
            "section-5 section-5"
            "section-6 section-6"
            "section-7 section-7"
            "section-3 section-3"
            "section-2 section-2"
            "section-4 section-4"
            "section-8 section-8";
    }

    #section-2 #tabel-container {
        overflow-x: auto;

        #stilizare-tabel {

            th,
            td {
                padding: 5px;
            }
        }
    }


    #section-4 {
        .container-iframe {
            iframe {
                max-width: 10rem;
                height: auto;
                min-height: 10rem;
            }

            #stilizare-taburi a {
                font-size: 16px;
                color: red;
            }

        }
    }

    #section-6 {
        #efect-css-duotone {
            position: relative;
            overflow: hidden;
            width: 100px;
            height: 100px;
            background: url('../imagini/gabirelul-1.jpg');
            background-size: cover;
            transition: background 2s linear;
        }
    }

    #section-8 {
        text-align: center;

        .section-8-left {

            #section-text {
                font-size: var(--primaryMedium);
            }
        }
    }
}

.footer {
    flex-direction: column;
    padding: .5em;

    .footer-text-under {
        font-size: var(--secondaryMedium);
    }

    .footer-left {
        .footer-text a {
            font-size: var(--primaryMedium);
        }
    }

    .footer-middle {
        a {
            font-size: var(--secondaryMedium);
        }
    }

    .footer-right {
        display: none;
    }

}